.content{
 background-color:#C0392B; 
 padding:40px;
 color:#fff;
 margin:20px;
}

h2{
  color:#fff;
}

input{
  border:1px solid #000;
  display:block;
  width:40%;
  padding: 10px;
  margin-bottom:10px;
  border:0;
  outline:0;
}

button{
  border:0;
  background-color:#F39C12;
  border-radius:0;
  padding:10px 20px;
  outline:0;
  cursor:pointer;
  color:#fff;
}